<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bunonbasket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BunonBasketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".ui.component.CheckoutCompleteActivity"></activity>
        <activity
            android:name=".ui.component.shipping.ShippingInfoActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.component.checkout.CheckoutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.component.signup.SignUpActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.login.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.component.login.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.component.details.ProductDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.component.bazar.UploadBazarActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.component.home.products.ProductListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.component.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.HomeActivity" />
        </activity>
        <activity android:name=".ui.component.AppIntroActivity" />
        <activity android:name=".ui.component.HomeActivity" />
        <activity android:name=".ui.component.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>